_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Visual Studio Code
.vscode/*
*.code-workspace
.history/

# MacOS
.DS_Store
.DS_Store?
Desktop.ini
._*
ehthumbs.db
Thumbs.db
.DS_Store
.Spotlight-V100
.Trashes
